* {
    box-sizing: border-box;
    display: grid;
}

ul {
    list-style-type: none;
}

.item-name {
    font-weight: bold;
}

.item-number {
    font-style: italic;
}

.cart-item {
    padding-top: 1em;
    width: 250px;
}

.box {
    position: relative;
    top: -320px;
    min-top: -320px;
    left: 180px;
}

.checkout-form {
    width: 300px;
    margin: 0 auto;
    top: -10em;
    border: 0.5px groove #222;
    padding: 0em 1em 2em 1em;
  }

.form-info {
    margin-bottom: 5px;
  }

.form-label {
    font-weight: bold;
  }

.form-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 3px;
  }
*/

.hide {
    display:none !important;
}